$hue1 = #5cbae6
$hue2 = #b6d957
$hue3 = #fac364
$hue4 = #8cd3ff
$hue5 = #d998cb
$hue6 = #f2d249
$hue7 = #93b9c6
$hue8 = #ccc5a8
$hue9 = #52bacc
$hue10 = #dbdb46
$hue11 = #98aafb
$hue12 = #FA8D86

$hue1_lighten = lighten(#5cbae6, 90%)
$hue2_lighten = lighten(#b6d957, 90%)
$hue3_lighten = lighten(#fac364, 90%)
$hue4_lighten = lighten(#8cd3ff, 90%)
$hue5_lighten = lighten(#d998cb, 90%)
$hue6_lighten = lighten(#f2d249, 90%)
$hue7_lighten = lighten(#93b9c6, 90%)
$hue8_lighten = lighten(#ccc5a8, 90%)
$hue9_lighten = lighten(#52bacc, 90%)
$hue10_lighten = lighten(#dbdb46, 90%)
$hue11_lighten = lighten(#98aafb, 90%)
// $hue12_lighten = lighten(#FA8D86, 90%)

$hues = ( $hue1 $hue2 $hue3 $hue4 $hue5 $hue6 $hue7 $hue8 $hue9 $hue10 $hue11 )
$hues_lighten = ( $hue1_lighten $hue2_lighten $hue3_lighten $hue4_lighten $hue5_lighten $hue6_lighten $hue7_lighten $hue8_lighten $hue9_lighten $hue10_lighten $hue11_lighten )