sans_serif()
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif

serif()
  font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia, "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif

code_font()
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace