.footer-nav
  display:none
  +for_breakpoint(mobile)
    // display: flex
    // align-content: flex-end
    display: block
    padding: 0em 0
    width: 12%
  fixed_br(0.5em, 0.2em)
  // background-color: white
  width: 100%
  // height: 5em
  border-radius: 10px
  #nav
    display: block
    height: 100%
  .nav-item
    float:right
    
  // box-shadow: 0px 0px 10px 1px #ddd

#footer
  width: 70vw
  +for_breakpoint(tablet)
    width: 70vw
  +for_breakpoint(mobile)
    width: 70vw
    margin: 6vh auto 13vh auto
  margin: 6vh auto 2vh auto
  display:flex
  justify-content: flex-start
  align-content: center
  border-top: 1px solid #ddd
  box-shadow: 0px -5px 10px -8px #ddd
  padding: 1em 0.75em
  a:link
  a:visited
    text-decoration: none
  +for_breakpoint(mobile)
    flex-flow: column-reverse wrap
    .footer-social
      margin: 3vh 0
  .footer-copyright
    flex: 1
    flex-grow: 2
    display: flex
    flex-flow: row wrap
    align-items: center
    font-size: 0.75em
    p
      margin: 0.5em 0
    a
      shorter_underline_on_hover(95%, -2px)
  .footer-social
    flex: 1
    display: flex
    justify-content: flex-end
    align-items: center
    flex-flow: row wrap
    .footer-social-item
      margin: 0.5em 1em
      font-size: 0.75em
    +for_breakpoint(mobile)
      justify-content: center
        