$primary_color = #D63E0A
$primary_color_grayout = saturate($primary_color, -50%)
$secondary_color = saturate(#6699cc, 40%)

@import 'fonts'


body
  sans_serif()
  font-size:14px
  color: #444

a
  text-decoration: none
  color: #444
