/* Header */
/* ------------------------------------------ */

@import 'util'
@import 'nav'
@import 'fonts'

shorter_underline($width, $offset)
  position: relative
  &:after
    position: absolute
    height: 2px
    background-color: #444
    content: ""
    display:block
    width: $width
    margin: 0 auto
    bottom: $offset
    left: 0
    right: 0

// Add a short underline if nav item is the active page
#header-nav
  .active_page
    shorter_underline(30%, -0.5em)

// hide or show header nav menu under different displays
#header-nav
  display: flex
  margin-right: 2em
  +for_breakpoint(mobile)
    display: none
  +for_breakpoint(half-desktop)
    .nav-item
      display:none
    #nav-item-more
    #nav-item-search
    #nav-item-archive
      display:flex
  +for_breakpoint(tablet)
    .nav-item
      display:none
    #nav-item-more
    #nav-item-search
    #nav-item-archive
      display:flex
  +for_breakpoint(desktop)
    #nav-item-toc
      display: none

#header
  // layout
  fixed_tl(0, 0)
  width: 100%
  height: 7em
  z-index: 101
  // appearance
  banner-shadow()
  background-color: white
  // content
  display: flex
  justify-content: space-between
  align-items: center
  color: #222
  // header links global setting
  a:visited
  a:active
  a:focus
  a:link
    color: #222
  a
    text-decoration: none
  +for_breakpoint(mobile)
    justify-content: center
  /* header title */
  .header-title
    // layout
    display: flex
    align-items: center
    justify-content: flex-start
    margin-left: 3em
    +for_breakpoint(mobile)
      justify-content: center
      margin-left: 0
    // content
    .header-text-no-image
      +for_breakpoint(mobile)
        padding-left: 0
        text-align: center
      // content
      padding-left: 3rem
      text-align: left
      h1
        display: inline
        font-size: 6vh
        margin: 0
      subtitle
        display: inline
        font-weight: 100
        font-size: 2vh
        +for_breakpoint(tablet)
          font-size: 3vh
      a:hover
        text-decoration: underline
    .header-logo
      text-align: center
      margin-right: 1em
      margin-top: 3em
      img
        background-color: white
        width: 7em
        border-radius: 50%
        box-shadow: 1px 1px 10px 3px #e5e5e5
    .header-text
      text-align: left
      margin-top: 2.5em
      serif()
      +for_breakpoint(mobile)
        display: none
      h1
        display: inline
        font-size: 2em
        margin: 0
        letter-spacing: -1px
        +for_breakpoint(tablet)
          font-size: 1.5em
      subtitle
        display: inline
        font-weight: 100
        font-size: 1em
        +for_breakpoint(tablet)
          display: none
        +for_breakpoint(mobile)
          display: none
    
    
        
