@import 'colors'

.tags
  label
    padding: 2px
    font-size: 0.8em
    margin: 3px
    border-radius: 5px
    display: inline-block
    font-weight: bold
    
  
for i in (1..11)
  label.tag-{i}
    border: 2px solid $hues[i]
    background: $hues_lighten[i]
    a
      color: $hues[i]
    &:hover
      background:$hues[i]
      a
        color: white