@import 'colors'

.tags
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  label
    padding: 5px
    font-size: 1em
    margin: 3px
    font-weight: bold
    border-radius: 5px
    display: block
    a
      color: white

for i in (1..11)
  .tag-{i}
    // border: 2px solid $hues[i]
    background: $hues[i]
    &:hover
      background:$hues_lighten[i]
      a
        color: white