.search-container
  margin: 0 auto
  margin-top: 14em
  width: 60%
  text-align: center
  .search-input
    border: none
    width: 40%
    padding: 0.5em
    margin: 0.5em
    border-radius: 5px
  .search-submit
    margin: 0.5em
    padding: 0.5em
    border: none
    background-color: #999
    &:hover
      background-color: #666
    color: white
    border-radius: 5px
  .tag-cloud
    margin: 0 auto
    margin-top: 3em
    width:40%
    a
      &:link
        text-decoration: none
      &:hover
        text-decoration: underline
  .cat-list
    margin-top: 3em
    li
      display: inline-block
      margin: 0 0.5em
      img
        width: 3em
        height: auto