@font-face {
    font-family: sketch;
    src: url("/fonts/KGSecondChancesSketch.ttf");
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLittleDown {
  from {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-5%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
	transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
  }
}

body {
	background-color: #f5f5f5;
	font-size: 14px;
	font-family: SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
	line-height: 1.6em;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
	color: #333;
}

@media (max-width: 400px) {
	body{
		font-size: 12px;
	}
}

/* typography */
h1, h2, h3, h4, h5, h6{
	font-weight: 400;
	margin: 0.83em 0;
}

ul, ol {
	margin-left: -1em;
}

h3 {
	font-weight: 400;
}

.page h2, .article h2{
	position: relative;
	font-weight:bold;
}

.page h3, .article h3{
	position: relative;
	left: 2em;
	font-size: 1.1em;
}

.article h2:before, .page h2:before {
	font-weight: 600;
    position: absolute;
    top: 0;
    left: -15px;
    content: '#';
    color: #D63E0A;
}

.article h3:before, .page h3:before{
    position: absolute;
    top: 0px;
    left: -24px;
    content: '🔹 ';
	font-size: 1em;
	color: #D63E0A;
	font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #333;
}

p {
	margin: 0;
	padding: 0;
	/* margin-bottom: 1em; */
}
h1 { 
	font-size: 1.5em;
}
h2 { 
	font-size: 1.2em;
	font-weight: 500;
}

h3{
	font-size: 1.1em;
}

h4, h5, h6{
	font-size: 1em;
}

hr {
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

blockquote {
	margin: 1em 0;
	padding: 0 0.8em 0 1.2em;
    border-left: 4px solid #D63E0A;
}

blockquote cite {
	margin-left: 0.25em;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #D63E0A;
}

/* code */
/* code {
	padding: 3px;
	border-radius: 2px;
	background-color: #E1E1E1;
}

pre code {
	padding: 0 0.5em;
	border-radius: 0px;
	margin-top: 0.5em;
	background: none;
}

figure.highlight {
	margin: 0;
	width: 100%;
	background-color: #f2f2f2;
}

.highlight figcaption {
	padding-left: 1em;
	padding-top: 0.5em;
	font-family: Courier New, Courier, monospace;
}

.highlight figcaption span {
	margin-right: 0.5em;
}

pre .marked {
	background-color: #D0AFAF;
}

.highlight table{
	width: 100%;
	border: none;
}

.highlight td{
	padding: 0;
	border: none;
}

.highlight .line {
	margin-left: 0.5em;
	padding-left: 0.25em;
}

.highlight .gutter {
	width: 1.5em;
	padding-right: 0.5em;
	text-align: center;
	border-right: 1px solid #999;
}

pre {
	margin: 0.25em;
	background-color: #f2f2f2;
} */

/* valine */
#valine .vsubmit:hover {
	border-color:#D63E0A;
	color:#D63E0A;
}

/* label */
label {
	display: inline-block;
	border-radius: 1em;
	font-weight: bold;
	padding: 0 5px 0 0;
	font-size: 0.9em;
}

label a{
	color: #488BAF;
	
}

label a:hover{
	color: #488BAF;
	text-shadow: 1px 1px #eee;
}

/* image */
img {
	height: auto;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Container */

.container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	max-width: 860px;
	padding: 0 20px;
	box-sizing: border-box; 
	animation-name: fadeInLeft;
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-delay: 0.5s;
}

.container:first-child {
	margin: 11em auto 0 auto;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; 
	}
}

/* Header */
/* ------------------------------------------ */
.header {
	background-color: white;
	padding: 1.2em 0;
	box-shadow: 0px 1px 10px 1px #ddd;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	justify-content: center;
	align-items: center;
	max-height: 5em;
	animation-name: fadeInDown;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-delay: 0.5s;
}

.header .header-logo{
	text-align: center;
	float: left;
	margin-left: 3rem;
}

.header .header-logo img {
	width: 6em;
	height: auto;
	margin-top: 3rem;
	/* border: 2px solid #e5e5e5; */
	box-shadow: 1px 1px 10px 3px #e5e5e5;
	border-radius: 50%;
	background-color: white;
}

.header .header-title {
	flex: 1;
	flex-grow:2;
	font-size: 1.2em;
	font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
	/* font-family: sketch; */
	font-stretch: ultra-expanded;
	/*font-style: italic;*/
}

.header .header-text {
	text-align: left;
	margin: 4.5rem 0rem 0rem 12rem;
}

.header .header-text-no-image {
	margin-left: 5rem;
	text-align: left;
}

.header-text h1{
	margin: 0;
}

.header-text-no-image h1{
	margin: 0;
}
/* Footer */

.footer {
	margin: 6em 0;
	animation-name: fadeInLeft;
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-delay: 0.5s;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer-logo {
	font-family: sketch;
	margin: 0.5em 0;
	font-size: 3em;
}

.footer-social {
	display: flex;
}

.footer-social-item {
	margin: 0 1em;
	font-size: 0.7em;
}

.footer a {
	color: #D63E0A;
}

.footer-social-item a {
	color: #333;
}

.footer-social-item a:hover {
	color: #D63E0A;
}

/* Navigator */
/* ------------------------------------------ */

#header-menu-container {
	display: none;
}

#header-menu-container .menu-icon {
	border-radius: 50%;
	border: 1px solid #eee;
	padding: 8px;
	height: 1.9em;
	width: 1.9em;
}

.menu-item:hover a{
	color: #D63E0A;
}

#header-menu-container .menu-name {
	font-size: 0.9em;
	padding: 3px 0;
}

#footer-menu-container {
	display: flex;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	padding: 1em 0;
	text-align: center;
	background-color: white;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0px -1px 10px -1px #eee;
	animation-name: fadeInUp;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-delay: 0.5s;
}

#footer-menu-container .menu-name {
	font-size: 0.7em;
}

#footer-menu-container .menu-icon img {
	width: 2.2em;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#header-menu-container .menu-item {
	margin: 0;
}

#header-menu-container .menu-item {
	margin-right: 3em;
}

#header-menu-container .menu-item:last-child {
	margin-right: 5em;
}

#header-menu-container .menu {
	justify-content: flex-end;
}

.menu-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 0;
	height: 3em;
}

.menu * {
	line-height: 1.2;
	text-align: center;
}

.menu-icon {
		flex:1;
		flex-grow: 1;
		margin-top: auto;
}

#footer-menu-container nav {
	flex: 1;
}

@media (max-width: 1023px) {
	.header .header-title{
		text-align: center;
		margin-left: 15%;
	}
}

@media (max-width: 720px) {
	.header-text {
		display:none;
	}
	.header .header-title {
		margin: 0 0;
	}
	.header .header-text-no-image {
		margin: 0 auto;
		text-align: center;
	}
	.header .header-logo {
		margin: 0 0;
		float: none;
	}
}

@media (min-width: 1024px) {

	#header-menu-container {
		display: block;
	}
	#footer-menu-container {
		display: none;
	}
}

/* Index intro */

.index-intro {
	margin: 0 auto 2em auto;
	text-align: center;
	font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
	font-size: 1.1em;
}

.index-intro img{
	padding: 5px;
	margin: 1em;
	border: 1px solid #333;
	border-radius: 5px;
	width: 10em;
	height:auto;
}

/** scale on hover */

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

/* Card */
/* ------------------------------------------ */

.Card {
	display: flex;
	align-items: flex-start;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0.5px 0.5px 3px -0.5px rgba(170, 175, 173, 0.61);
	margin: 0.5em;
	min-height: 12em;
	position:relative;
}

.Card-badge {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;   
	border: 0px solid #FFF;
	width: 10px;
	height: 10px;  
	background-color: #FF6B6B;
	position:absolute;
	top:-5px;
	left:-5px;
}

.Card-archive {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0.5px 0.5px 3px -0.5px rgba(170, 175, 173, 0.61);
	min-height: 7em;
}

.Card-archive .Card-title {
	flex-grow: 1;
	padding-top: 0;
}

.Card-archive .Card-body {
	margin: 1em;
}

.Card-archive .Card-meta {
	font-size: 0.8em;
}

.Card-figure {
  	margin: 1.5em 1.5em;
}

.Card-figure img {
	width: 3em;
	height: 3em;
	object-fit: cover;
}

.Card-body {
	flex: 1;
	flex-direction: column;
	margin: 0 0.7em;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	height: 90%;
}

.Card-title {
	padding-top: 0.6em;
	flex-grow: 1;
	animation-name: fadeInLeft;
	animation-duration: 0.5s;
	animation-fill-mode: both;
	margin-right: 1em;
}

.Card-title h2{
	margin-bottom: 0;
}

.Card-title label{
	font-size: 0.8em;
}

.Card-meta {
	animation-name: fadeInLeft;
	animation-duration: 0.5s;
	animation-fill-mode: both;
	margin-bottom: 1.5em;
}

.Card-excerpt{
	padding-top: 1.8em;
	animation-name: fadeInLeft;
	animation-duration: 0.5s;
	animation-fill-mode: both;
	flex-grow: 1;
	justify-content: center;
	flex: 1;
	margin-right: 1em;
}

.Card div.Card-excerpt-notouch {
	padding-top: 0.5em;
	display: block;
}

.Card .Card-title {
	display: block;
}

.Card-excerpt {
	display: none;
}

.Card .Card-meta {
	display: block;
}

.Card-hover:hover .Card-title{
	display: none;
}
.Card-hover:hover .Card-excerpt{
	display: block;
}
.Card-hover:hover .Card-meta{
	display: none;
}

/* Pagination */
/* ------------------------------------------ */

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pagination-item a, .pagination-item span{
	border-radius: 50%;
	box-shadow: 0.5px 0.5px 3px -0.5px rgba(170, 175, 173, 0.61);
	text-align: center;
	height: 1.7em;
	width: 1.7em;
	display: inline-block;
	vertical-align: middle;
	padding: 0.25em;
	margin: 0 4px;
}

.pagination-item a{
	color: #D63E0A;
}

/* Video */

.video-container {
	max-width: 100%;
	width: auto;
	height: auto;
}

/* Gallery */

.article-gallery {
	width: 95%;
	display: flex;
	align-items: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 0 auto;
}

.article-gallery-item {
	flex-basis: 25%;
	margin: 0 0.25em;
	display: block;
}

.article-gallery-item a {
  /* set the desired width/height and margin here */
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
  border-radius: 5px;
}
.article-gallery-item a img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  max-width: none;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  border-radius: 5px;
}
.article-gallery-item a img.portrait {
  width: 100%;
  height: auto;
}

/* Article */
/* ------------------------------------------ */
.article {
	width: 55%;
	margin: 9em auto 0 auto;
	animation-name: fadeInLeft;
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-delay: 0.5s;
}

.article a {
	color: #D63E0A;
}

.article-content img {
	width: auto;
	display: inline-block;
	max-width:94%; height:auto;
	padding: 20px;
	border: #eee 1px solid;
	border-radius: 5px;
	box-shadow: 0.5px 0.5px 0.5px -0.5px rgba(170, 175, 173, 0.61);
}

.article-header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.article-logo {
	margin-right: 1em;
}

.article-logo img {
	width: 2.5em;
	height: 2.5em;
	object-fit: cover;
}

.article-title{
	flex: 1;
	font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
}

h1.article-title{
	margin-bottom: 1.2em;
}

.article-title a{
	color: #333;
}

.article-categories li{
	display: block;
	float:left;
	padding-left: 0.5em;
}

.article-categories img{
	width: 2.5em;
	height: auto;
	object-fit: cover;
}

@media (max-width: 1000px) {
	.article {
		width: 90%;
		margin: 9em auto;
	}
}

.article p, .page p{
	margin-bottom: 1em;
}

/* Page */

.page {
	width: 45%;
	margin: 9em auto;
	animation-name: fadeInLeft;
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-delay: 0.5s;
}

.page .article-content {
	text-align: justify;
}

.page .page-meta{
	float: right;
	text-align: right;
	margin-top: 1em;
	width: 150px;
}

.page-meta p {
	margin-bottom: 0;
}

.page a {
	color: #D63E0A;
}


.page li {
	margin-top: 0.35em;
	margin-bottom: 0.35em;
	line-height: 1.4em;
}

@media print {
	@page { margin: 0;}
	.header {
		box-shadow: none;
	}
	.page {
		width: 95%;
		margin: 9em auto;
		text-align: justify;
	}
	
	.page .page-meta{
		display: none;
	}
	
	.page-meta p {
		margin-bottom: 0;
	}
	
	.page a {
		color: #D63E0A;
	}
}

@media (max-width: 1023px) {
	.page {
		width: 90%;
		margin: 9em auto;
		text-align: justify;
	}
}

/* tag cloud */

.tag-cloud {
	width: 60%;
	margin: 0 auto;
}

@media(max-width: 767px) {
	.tag-cloud {
		width: 90%;
		margin: 0 auto;
	}
}

#search {
	width: 100%;
	display: flex;
}

#search input {
	flex: 1;
	margin-right: 0.5em;
}

.search-container {
	margin: 12em auto 0 auto;
	position: relative;
	width: 100%;
	max-width: 860px;
	padding: 0 20px;
	box-sizing: border-box; 
	animation-name: fadeInLeft;
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-delay: 0.5s;
}

.search-container form {
	background-color: white;
	border-radius: 5px;
	height: 38px;
}

.search {
	background-color: white;
	border-radius: 5px;
	height: 38px;
	display: flex;
}

.search input {
	flex: 1;
}

.search-container button {
	border-radius: 0px;
	background-color: white;
	border: none;
	margin: 0;
	padding: 0 1em;
}


.search-container input {
	border-radius: 0px;
	background-color: white;
	border: none;
	padding: 6px 10px;
	box-shadow: none;
	margin: 0;
}

.search-container input:focus {
	border-radius: 0px;
	background-color: white;
	border: none;
}

.search-container button:focus {
	border-radius: 0px;
	background-color: white;
	border: none;
}