primary-color = #93C85F//#42b983
secondary-color = #F0B11D//#E2B32E
red-color = #F22613
blue-color = #336E7B
orange-color = #F0B11D
green-color = primary-color
purple-color = purple


// always red
i.fa-heart
i.fa-heart-o
i.fa-fire
    color red-color

i.fa-users
    color blue-color

i.fa-calendar
    color orange-color

i.fa-comments
    color green-color

i.fa-link
    color gray

.card-body.background--dark .tags i
.card-body.background--dark .tags a
.card-body.background--dark .card-excerpt
.card-body.background--dark .card-next-button
    color white
    text-shadow 0px 0px 6px #666

.card-body.background--light .tags i
.card-body.background--light .tags a
.card-body.background--light .card-excerpt
.card-body.background--light .card-next-button
    color #444
    text-shadow 0px 0px 6px #fff

.card-body .tags i
.card-body .tags a
.card-body .card-excerpt
.card-body .card-next-button
    color white
    text-shadow 0px 0px 10px black

.card .tags a:hover
.card-next-button:hover
    text-shadow 0px 0px 6px #aaa

// secondary color settings
code
    color secondary-color

// secondary background color settings
.home-slogan
    background-color: white

// primary color settings
.post-content a
.page-meta a
.toc > li > a
.v .vlist .vcard .vh .vmeta span.vat
.text-item-active > a
.icon-item-active > a
.primary-color
.Card-nav-quote:hover
.pagination-page
    color primary-color

.active_page:after
dl dt:nth-of-type(odd)
.archive-title span
    background-color primary-color

.archive-cards:before
    background-color lighten(primary-color, 50%)

dl dt:nth-of-type(even)
    background-color secondary-color

// darken primary color settings
.post-content a:hover
.page-meta a:hover
.toc > li > a:hover
.v .vlist .vcard .vh .vmeta span.vat:hover
.icon-item-name a:hover
.text-item-name a:hover
#footer a:hover
.Card-meta a:hover
.primary-color:hover
.pagination-page-link:hover
.pagination-next-link:hover
.pagination-prev-link:hover
    color darken(primary-color, 20%)

.pagination-page-link:after
.pagination-next-link:after
.pagination-prev-link:after
.nav-name:hover:after
    background-color darken(primary-color, 20%)


body
    background-color lighten(grayscale(primary-color),90%)

// general color settings
.footer
a
.toc-item a
.normal-color
.Card-tags .tags a:hover
.Card-next:hover
    color #444 

// general color darken settings
a:hover
.toc-item a:hover
    color #111

// insignificant color settings
.insignificant-color
.Card-nav-item
    color #aaa

// white color settings
.header
.post
    background-color: white

.post-author i
.post-author p
.post-date i
.post-date a
.post-copyright i
.post-copyright a
h1.post-title a
.archive-title span
    color: white