.archive-container
  margin: 0 auto
  margin-top: 10em
  margin-bottom: 5em
  text-align: left
  width: 60%
  +for_breakpoint(half-desktop)
    width: 90vw
    padding: 0
  +for_breakpoint(tablet)
    width: 90vw
    justify-content: center
    padding: 0
  +for_breakpoint(mobile)
    width: 90vw
    justify-content: center
    padding: 0
.archive-cards
  display: flex
  justify-content: flex-start
  align-items: flex-start
  flex-direction: row
  flex-wrap: wrap

.archive-header
  .archive-logo
    float: left
    img
      width: 2.5em
      height: auto
      margin-top: -0.5em
      margin-right: 0.5em

.archive-title
  serif()