@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutDown {
  to {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }

  from {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLittleDown {
  from {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLittleLeft {
  from {
    opacity: 0;
    transform: translate3d(-5%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutLittleLeft {
  to {
    opacity: 0;
    transform: translate3d(-5%, 0, 0);
  }

  from {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutUp {
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  from {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLittleRight {
  from {
    opacity: 0;
    transform: translate3d(5%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
	  transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes popUp {
  to {
    transform: translateY(-3%)
  }
  from {
    transform: none;
  }
}


@keyframes translateDownAnouncement {
  to {
    opacity: 1
    width: 60%
    left: 20%
  }
  from {
    opacity: 1
    transform: translateY(-6.9em)
    width: 100%
    left: 0
  }
}

animate($name, $duration, $delay)
  animation-name: $name
  animation-duration: $duration
  animation-fill-mode: both
  animation-delay: $delay

$delay = 0.3s
$current_start = 0s
$duration = 1s

// initial animation
// .header
//   animate(fadeInDown, $duration, $current_start)

$current_start = $current_start + $delay
.header .header-logo
  animate(fadeInLeft, $duration, $current_start)
  img
    transition: all .2s ease-in-out
    &:hover
      // transform: scale(1.1)
      transform: translateY(-4%)
      box-shadow: 1px 2px 10px 1px #c5c5c5

#footer
  animate(fadeInUp, $duration, $current_start)

.archive-container
  animate(fadeInLittleLeft, 1s, $current_start)

.index-cards
  animate(fadeInLittleLeft, 1s, $current_start)

.Card
  transition: all .3s ease-in-out

.Card:hover
  transform: translateY(-3%)
  box-shadow: 0.5px 3px 3px -0.5px rgba(170, 175, 173, 0.61)
  .Card-excerpt
    animate(fadeInLittleLeft, 0.5s, 0)

$current_start = $current_start + $delay
.header .header-text
  animate(fadeInDown, $duration, $current_start)

.index-intro
  animate(fadeInDown, $duration, $current_start + 0.1s)

$current_start = $current_start + $delay
#header-nav
  animate(fadeInDown, 2s, $current_start)

$current_start = $current_start + $delay

.article-title
.article-logo
.article-categories
  animate(fadeInDown, $duration, $current_start + 0.1s)

$current_start = $current_start + $delay
.article-meta
  animate(fadeInDown, $duration, $current_start)

.article-toc
.page-meta
  animate(fadeInRight, 1.2s, $current_start + 0.1s)

$current_start = $current_start + $delay
.article-gallery
  animate(fadeInLittleDown, 1s, $current_start)

.article-content
.article-comment
  animate(fadeInLittleLeft, 1s, $current_start + 0.1s)

.Card-title
    animate(fadeInLittleLeft, 0.5s, 0)

.Card-archive
  transition: all .3s ease-in-out
.Card-archive:hover
  transform: translateY(-5%)
  box-shadow: 0.5px 3px 3px -0.5px rgba(170, 175, 173, 0.61)

.nav-more-menu
  animate(fadeInLittleDown, 0.5s, 0)

.toc
  animate(fadeInLittleRight, 0.5s, 0)



