@import 'colors'

.announcement
  fixed_tl(6.9em, 20%)
  width: 60%
  margin: auto 0
  background-color: lighten($hue6, 80%)
  border: 2px solid $hue6
  border-radius: 5px
  +for_breakpoint(tablet)
    width: 50%
    fixed_tl(6.9em, 25%)
  div
    p
      +for_breakpoint(mobile)
        margin-top: 1.5em
      text-align: center
      padding: 5px
      margin: 0
      &:hover span
        color: darken(gray, 20%)
      span
        font-size: 0.8em
        color: lighten(gray, 20%)
      a:link
      a:visited
        color: lighten(gray, 20%)