@import 'colors'
.article-meta
  .tags
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    label
      padding: 2px
      font-size: 0.8em
      margin: 3px
      border-radius: 5px
      display: block
      a
        color: #666

  for i in (1..11)
    .tag-{i}
      border: 2px solid $hues[i]
      background: $hues_lighten[i]
      &:hover
        background:$hues[i]
        a
          color: white

.Card-archive
  .tags
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    label
      padding: 2px
      font-size: 0.8em
      border-radius: 5px
      display: block
      &:before
        content: "# "
      a
        color: white

  for i in (1..11)
    .tag-{i}
      a
        &:hover
          text-decoration: underline

.Card
  .tags
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: flex-start
    label
      text-align: right
      padding: 2px
      font-size: 0.8em
      margin: 3px
      display: block
      &:before
        content: "# "
      a
        color: white
  for i in (1..11)
    .tag-{i}
      a
        &:hover
          text-decoration: underline