.pagination
  display: flex
  align-items: center
  justify-content: center
  margin-top: 2em
  a
    &:link
    &:visited
      text-decoration: none
      color: #444
    &:hover
      top_dot(-0.4em, 0)
  span
  a
    // box-shadow: 0.5px 0.5px 3px -0.5px rgba(170, 175, 173, 0.61)
    text-align: center
    height: 1.8em
    width: 1.8em
    display: block
    vertical-align: middle
    font-size: 1.1em
  span
    color:#aaa
    // top_dot_custom_color(#aaa, -0.4em, 0)