.Card
  font-size:14px
  text-align: left
  width: 45%
  +for_breakpoint(tablet)
    width: 90%
  +for_breakpoint(mobile)
    width: 90%
  display: flex
  align-items: flex-start
  background-color: white
  border-radius: 5px
  box-shadow: 0.5px 0.5px 3px -0.5px rgba(170, 175, 173, 0.61)
  margin: 0.5em 0
  min-height: 20em
  padding: 0 2%
  position: relative
  .Card-body
    a
      &:link
      &:visited
      &:hover
        text-decoration: none
    flex: 1
    flex-direction: column
    display: flex
    align-items: flex-start
    justify-content: flex-start
    margin: 0 0.5em 0.5em 0.5em
    .Card-title
      display: block
      margin-top: 1.5em
      margin-right: 6em
      margin-bottom: 1.5em
      flex-grow: 1
      h2 
        margin: 0
        font-size: 1.4em
        font-weight: normal

    .Card-excerpt
      display: none
      p
        margin: 0
        line-height: 1.5
        font-size: 1.1em
      margin-top: 1.5em
      margin-right: 6em
      flex-grow: 1
      text-align: left
      justify-content: center
      flex: 1
    .Card-excerpt-touch
      p
        margin: 0
        line-height: 1.5
      margin-top: 0em
      margin-bottom: 7em
      flex-grow: 1
      text-align: left
      justify-content: center
      flex: 1
      margin-right: 1em
	    display: block
    .Card-meta
      .Card-tags
        margin-right: 0.5em
        +for_breakpoint(mobile)
          margin-right: 1em
        display: block
        margin-bottom: 1em
      position: absolute
      bottom: 1em
      display:block
      font-size: 0.9em
      ul
        padding: 0
        display: block
        margin: 0
        margin-bottom: 0.25em
      li
        display: inline-block
        margin: 0 1em 0 0

  .Card-figure
    margin: 1.5em 1.5em 1.5em 0.5em
    +for_breakpoint(mobile)
      margin-left: 1em
    +for_breakpoint(tablet)
      margin-left: 1em
    img
      width: 2.8em
      height: 2.8em
      object-fit: cover
  .Card-navs
      display: flex
      flex-direction: column
      justify-content: space-around
      padding: 4em 0
      height: 8em
 
.Card-badge
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%   
  border: 0px solid #FFF
  width: 10px
  height: 10px  
  background-color: #FF6B6B
  position:absolute
  top:-5px
  right:-5px