.Card
  // text-align: left
  // display: flex
  // flex-direction: row
  // align-items: center
  // justify-content: center
  background-color: white
  border-radius: 5px
  box-shadow: 0.5px 0.5px 3px -0.5px rgba(170, 175, 173, 0.61)

.swiper-container
  height: 100%

.swiper-container-horizontal > .swiper-pagination-bullets
  padding-top: 1em
  padding-bottom: 1em
  bottom:0

.swiper-pagination-bullet
  background: none
  padding-right: 0.5em

.card-sparkle
  z-index:11
  position: absolute
  top: 1.5em
  right: 2.5em
  span
    padding: 0.2em
    cursor: pointer
  .popular-card
    color: $hue12
  .coding-card
    color: $hue6
  .github-card
    color: $hue1

.Card-body
  height: 100%
  flex-direction: row
  display: flex
  align-items: center
  justify-content: center
  .Card-figure
    flex: 1
    margin: 0 0 0 3em
    img
      width: 4em
      height: 4em
      object-fit: cover
  .Card-title
    flex: 2
    display: block
    margin: 0 5em 0 0
    text-align: left
    h2 
      margin: 0
      font-size: 1.4em
      font-weight: normal

  .Card-excerpt
    display: block
    p
      margin: 0
      line-height: 1.5
      font-size: 1.2em
    justify-content: center
    text-align: left
    flex: 1
    margin: 0 4em

  .Card-meta
    display: block
    font-size: 1.1em
    color: #aaa
    .Card-tags
      text-align: center
      margin-bottom: 0.5em
    ul
      width: 100%
      padding: 0
      margin: 0
      li
        display: inline-block
        margin: 0 1em 0 0
  .Card-pictures
    display: block
    height: 50%
    margin: 0 4em
    overflow hidden
    border-radius: 8px
    img
      width: 100%
      height: auto
      object-fit: cover

.swiper-slide
  border-radius: 5px
.Card-badge
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%   
  border: 0px solid #FFF
  width: 10px
  height: 10px  
  background-color: #FF6B6B
  position:absolute
  top:-5px
  right:-5px

