.index-container
  margin: 0 auto
  margin-top: 11em
  text-align: center
  margin-bottom: 5em
  padding: 0 0.5em

.index-cards
  margin: 0 auto
  margin-top: 3em
  max-width: 960px
  +for_breakpoint(tablet)
    width: 90vw
    justify-content: center
    padding: 0
  +for_breakpoint(mobile)
    width: 90vw
    justify-content: center
    padding: 0
  display: flex
  align-items: stretch
  justify-content: space-between
  flex-direction: row
  flex-wrap: wrap
  flex-grow: 0

.Card
  margin: 1em 0
  width: 48.5%
  height: 18em
  +for_breakpoint(tablet)
    width: 90%
  +for_breakpoint(mobile)
    width: 90%