.index-container
  margin: 0 auto
  margin-top: 11em
  text-align: center
  margin-bottom: 5em

.index-cards
  margin: 0 auto
  margin-right: 20%
  margin-top: 3em
  width: 50%
  +for_breakpoint(tablet)
    width: 90vw
    justify-content: center
    padding: 0
    margin: 0 auto
    margin-top: 3em
  +for_breakpoint(mobile)
    width: 90vw
    justify-content: center
    padding: 0
    margin: 0 auto
    margin-top: 3em
  display: flex
  align-items: stretch
  justify-content: space-between
  flex-direction: row
  flex-wrap: wrap
  flex-grow: 0

.Card
  margin: 1.5em 0
  width: 100%
  +for_breakpoint(tablet)
    width: 90%
  +for_breakpoint(mobile)
    width: 90%